.traga-perras-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 20px;
    
  }
  
  
  .traga-perras-button:hover {
    background-color: #ff402c;
  }
  
  
  .traga-perras-button:active {
    background-color: #e63d24;
  }
  
  
  .traga-perras-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
